In [50]:
#モジュールの用意
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

#ログイン用の設定
connection_config = {
    'user': 'postgres',
    'password':  'kuma_aso_3',
    'host': '127.0.0.1',
    'port': '5432',
    'database': 'test.ESI'
}

#データベースへ接続
engine = create_engine('postgresql://{user}:{password}\
@{host}:{port}/{database}'.format(**connection_config))

In [2]:
df = pd.read_sql(sql = "select * from blogpost_esi_descriptor_model", con=engine )
df.head()

,id,compound_name,smiles,lpv,c_s0,s0_c,eav,a_s0,s0_a,stv,t1_s0,s0_t1,esolv,dm,vmol,b1,b2,b3
0,1,"2,6-dichloro-N-pyridin-4-ylbenzamide",O=C(Nc1ccncc1)c1c(Cl)cccc1Cl,9.000907,0.349760,0.330798,-0.573400,0.759747,0.926604,4.621081,2.035127,1.144559,-0.372608,5.9631,167.979,None,None,None
1,2,N-pyridin-4-ylbenzamide,O=C(Nc1ccncc1)c1ccccc1,8.840427,0.328788,0.274675,-0.289517,0.347465,0.360118,4.489699,1.583510,0.611116,-0.343112,5.2098,142.783,None,None,None
2,3,2-chloro-N-pyridin-4-ylbenzamide,O=C(Nc1ccncc1)c1ccccc1Cl,8.852148,0.325323,0.280902,-0.109846,0.367324,0.428913,4.445861,0.537189,0.510195,-0.300384,5.3339,153.937,None,None,None

In [15]:
SMILES="O=C(Nc1ccncc1)c1ccccc1Cl"

In [18]:
query="select * from blogpost_esi_descriptor_model WHERE smiles="+"'"+SMILES+"';"
data1 = pd.read_sql(sql = query, con=engine )
data1.head()

,id,compound_name,smiles,lpv,c_s0,s0_c,eav,a_s0,s0_a,stv,t1_s0,s0_t1,esolv,dm,vmol,b1,b2,b3
0,3,2-chloro-N-pyridin-4-ylbenzamide,O=C(Nc1ccncc1)c1ccccc1Cl,8.852148,0.325323,0.280902,-0.109846,0.367324,0.428913,4.445861,0.537189,0.510195,-0.300384,5.3339,153.937,None,None,None

In [19]:
!pwd

/Users/uchidayuki/Desktop/ESIdatabase/練習用/blogpost

In [51]:
xyz = pd.read_csv('../rdkit/smiles.csv')
asd=xyz.iloc[:,1]
smiles=[]
for i in range(len(asd)):
    B=xyz.iloc[i, 1]
    smiles.append(B)

In [40]:
smiles

['O=C(Nc1ccncc1)c1c(Cl)', 'O=C(Nc1ccncc1)c1ccccc1', 'O=C(Nc1ccncc1)c1ccccc1Cl']

In [52]:
data2 = pd.DataFrame()
for x in range (len(asd)):
    query="select * from blogpost_esi_descriptor_model WHERE smiles="+"'"+smiles[x]+"';"
    data1 = pd.read_sql(sql = query, con=engine )
    data2 = pd.concat([data2, data1], ignore_index=True)

In [43]:
xyz

                             compd_name                    smiles
0  2,6-dichloro-N-pyridin-4-ylbenzamide     O=C(Nc1ccncc1)c1c(Cl)
1               N-pyridin-4-ylbenzamide    O=C(Nc1ccncc1)c1ccccc1
2      2-chloro-N-pyridin-4-ylbenzamide  O=C(Nc1ccncc1)c1ccccc1Cl

In [53]:
ESI=pd.merge(xyz, data2, on='smiles', how='left')

In [46]:
ESI

,compd_name,smiles,id,compound_name,lpv,c_s0,s0_c,eav,a_s0,s0_a,stv,t1_s0,s0_t1,esolv,dm,vmol,b1,b2,b3
0,"2,6-dichloro-N-pyridin-4-ylbenzamide",O=C(Nc1ccncc1)c1c(Cl),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N-pyridin-4-ylbenzamide,O=C(Nc1ccncc1)c1ccccc1,2,N-pyridin-4-ylbenzamide,8.840427,0.328788,0.274675,-0.289517,0.347465,0.360118,4.489699,1.58351,0.611116,-0.343112,5.2098,142.783,None,None,None
2,2-chloro-N-pyridin-4-ylbenzamide,O=C(Nc1ccncc1)c1ccccc1Cl,3,2-chloro-N-pyridin-4-ylbenzamide,8.852148,0.325323,0.280902,-0.109846,0.367324,0.428913,4.445861,0.537189,0.510195,-0.300384,5.3339,153.937,None,None,None

In [28]:
ESI.to_csv('../ESI_to_user/rdkit_descriptor.csv', index=False)

In [44]:
xyz

                             compd_name                    smiles
0  2,6-dichloro-N-pyridin-4-ylbenzamide     O=C(Nc1ccncc1)c1c(Cl)
1               N-pyridin-4-ylbenzamide    O=C(Nc1ccncc1)c1ccccc1
2      2-chloro-N-pyridin-4-ylbenzamide  O=C(Nc1ccncc1)c1ccccc1Cl

In [54]:
ESI=ESI.drop('id', axis=1)
ESI

,compd_name,smiles,compound_name,lpv,c_s0,s0_c,eav,a_s0,s0_a,stv,t1_s0,s0_t1,esolv,dm,vmol,b1,b2,b3
0,"2,6-dichloro-N-pyridin-4-ylbenzamide",O=C(Nc1ccncc1)c1c(Cl),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N-pyridin-4-ylbenzamide,O=C(Nc1ccncc1)c1ccccc1,N-pyridin-4-ylbenzamide,8.840427,0.328788,0.274675,-0.289517,0.347465,0.360118,4.489699,1.58351,0.611116,-0.343112,5.2098,142.783,None,None,None
2,2-chloro-N-pyridin-4-ylbenzamide,O=C(Nc1ccncc1)c1ccccc1Cl,2-chloro-N-pyridin-4-ylbenzamide,8.852148,0.325323,0.280902,-0.109846,0.367324,0.428913,4.445861,0.537189,0.510195,-0.300384,5.3339,153.937,None,None,None

In [55]:
print(type(ESI))

<class 'pandas.core.frame.DataFrame'>